---
import Navbar from '../components/navbar.astro'

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body class="h-screen flex">
    <Navbar location="Home"/>
    <div class="container w-full h-full bg-color2"></div>
  </body>
</html>
<style>
  body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
  }
</style>

