---
import Navbar from '../components/navbar.astro';
---

<html>
<body class="flex items-center w-screen h-screen space-x-6">
    <Navbar location="Title"/>
    <div class="flex w-f">
      <div class="flex items-center justify-center w-12 h-12 bg-color1 text-neutral-100">1</div>
      <div class="flex items-center justify-center w-12 h-12 bg-color2 text-neutral-100">2</div>
      <div class="flex items-center justify-center w-12 h-12 bg-color3 text-neutral-100">3</div>
      <div class="flex items-center justify-center w-12 h-12 bg-color4 text-neutral-950">4</div>
      <div class="flex items-center justify-center w-12 h-12 bg-color5 text-neutral-950">5</div>
    </div>
</body>
</html>

<style>
</style>
