---
import PostHogLayout from '../layouts/PostHogLayout.astro';
import Page from "../components/scaffold/page.astro";
import AppLink from "../components/AppLink.astro";
import { App } from "@corr-hq/react-demo";
---

<PostHogLayout>
  <Page location="Showcase" title="Showcase">
    <div class="text-neutral-100 flex flex-col lg:flex-row w-full gap-2">
      <div class="basis-0 lg:basis-4/6 max-w-screen-md">
        <div class="w-100 overflow-auto" >
          <App client:load />
        </div>
      </div>
      <div class="basis-0 lg:basis-2/6 flex flex-col gap-2 p-4 bg-color1 rounded">
        <h2 class"text-neutral-100 mb-2">Check out some other projects</h2>
        <hr class="text-neutral-500" />
        <AppLink
          title="Wiffle Ball Scoring App"
          imgSrc="/wiffle-ss.png"
          url="https://cpwiffleball.novelli.dev"
        />
        <hr class="text-neutral-500 mt-2" />
        <AppLink
          title="Project Actuator"
          imgSrc="/project-actuator.png"
          url="https://westonnovelli.github.io/project-actuator/"
        />
        <hr class="text-neutral-500 mt-2" />
        <AppLink
          title="Iradonian Co"
          imgSrc="/iradonianco.png"
          url="https://iradonianco.corridore.dev/tw/current"
        />
      </div>
    </div>
  </Page>
</PostHogLayout>