---
import Page from '../components/scaffold/page.astro';
import { App } from '@corr-hq/react-demo';
---
<Page location="Showcase" title="Showcase">
  <div class="text-neutral-100">
      <App client:load/>
 </div> 
</Page>
