---
import PostHogLayout from '../components/scaffold/PostHogLayout.astro';
import Page from '../components/scaffold/page.astro';

const posts = await Astro.glob('./thoughts/*.{md,mdx}');
const displayPosts = posts
    .filter(({ frontmatter: { draft = false }}) => !draft)
    .sort((a, b) => new Date(b.frontmatter.publishedDate).valueOf() - new Date(a.frontmatter.publishedDate).valueOf());
---

<PostHogLayout>
  <Page location="Thoughts" title="Configuration">
    <div class="text-neutral-100 my-4 container">
      The following posts contain my thoughts at the time of authorship. Writing down these idea are both a way of sharing them, but also acts as documentation and is an opportunity for refinement.
    </div>
    <div class="container flex flex-col gap-6">
      {displayPosts.map(({ frontmatter: { title, publishedDate }, url }) => {
          const date = new Date(publishedDate).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"});
          return (
            <a class="rounded p-3 bg-color1 text-color-neutral-100" href={url}>
              <div class="text-neutral-100 text-2xl">{title}</div>
              <div class="text-neutral-400">{date}</div>
            </a>
          );
      })}
    </div>
    {displayPosts.length === 0 &&
      <div>No thoughts yet, don't hold your breath.</div>
    }
  </Page>
</PostHogLayout>