---
import Page from '../scaffold/page.astro';

const { frontmatter: { title, publishedDate } } = Astro.props;
const date = new Date(publishedDate).toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}); 
---

<Page location="" title={title}>
  <div class="text-neutral-100 text-sm mb-4">{date}</div>
  <div class="text-neutral-100">
      <slot/>
  </div>
</Page>

