---
interface Props {
  title: string;
  imgSrc: string;
  url: string;
}

const { title, imgSrc, url } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="flex flex-col">
  <h3 class="text-neutral-100">{title}</h3>
  <img src={imgSrc} alt={title} class="place-self-center" />
</a>
