---
interface Props {
    byLine?: string;
}

const { byLine } = Astro.props;
---

<div class="page-head">
  <slot/>
  <div class="by-line">
    <h2>{byLine ?? 'Weston Novelli'}</h2>
    <div>UI Software Engineer</div>
  </div>
</div>

<style>
  .page-head {
    margin: 0 24px;
    width: calc(100vw - 48px);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .by-line {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  h2 {
    margin: 0;
    line-height: 3rem; 
    font-size: 3rem;
    font-weight: 600;
  }

  .by-line > div {
      font-size: 1.4rem;
      line-height: 1.4rem;
  }
</style>
